<html>
    <head>
        <title>Remote Control for {{ device['name'] }}</title>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
        <link rel="icon" type="image/png" href="images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
        function get_all_object(obj) {
          var str = ""
          for (var i in obj){
            str = str + i + ": " + obj[i] + "\n"
          }
          return str
        }
        {% for key in device['keys']|list|sort(attribute='name') %}
          function function_{{ key['name'] }}(){
            $.post("/device/{{ device['name'] }}/key/{{ key['name'] }}",
            function(data,status){
              alert("Status: " + status + "\n"+ get_all_object(data) );
            });
          }
        {% endfor %}
        </script>
    </head>
    <body>
        <div align="center">
        <a class="button"  href=/ >&#x1f519</a></br>
        {% for key in device['keys']|list|sort(attribute='name') %}
        <a class="button" onclick="function_{{ key['name'] }}()">{{ key['name'] }}</a></br>
        {% endfor %}
        </div>
    </body>
</html>
